.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-container {
  margin-bottom: 20px;
}

body{
  height: 100vh;
}

#root{
  height: 100%;
}

.whole-app{
  height: 100%;
}

.row{
  direction: rtl;
  display: flex;
}

.logo-image {
  width: 100px;
  height: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.input {
  padding: 10px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 20px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.login-form div {
  margin-bottom: 10px;
}

.login-form label {
  font-weight: bold;
}

.login-form input {
  padding: 5px;
  font-size: 14px;
}

.login-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}