.table {
    background-color: white;
    margin: 5%;
    width: 90%;
    height: 50%;
}

.table-header{
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.real-table{
    overflow-y: scroll;
    height: 80%;
    background-color: white;
}
.searchField{
    width: 80%;
    direction: rtl;
    height: 70% !important;
}


.whole-page{
    height: 100%;
    padding-top: 5%;
}

.table-content{
    width:100% !important;
}

.image-wrapper{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4%
    
}


.search{
    direction: rtl;
    margin: 5%;
    /* justify-content: space-between; */
}

.input-place{
    padding-right: 3%;
    padding-left: 3%;
}

.welcome{
    color: white;
}


.profile{
    width: 30%;
    height: auto;
}

.MuiTableContainer-root {
    width: auto !important;
}